[Unit]
Description=The lightweight, distributed relational database built on SQLite
Documentation=https://github.com/rqlite/rqlite
After=network-online.target local-fs.target remote-fs.target time-sync.target
Wants=network-online.target local-fs.target remote-fs.target time-sync.target

[Service]
User=rqlite
Type=simple
EnvironmentFile=/var/lib/rqlite/environment
ExecStart=/usr/bin/rqlited \
    -node-id=${RQLITE_NODE_ID} \
    -http-ca-cert=${RQLITE_CA_PATH} \
    -http-cert=${RQLITE_CERT_PATH} \
    -http-key=${RQLITE_KEY_PATH} \
    -http-verify-client=true \
    -http-addr=${RQLITE_HTTP_ADDR} \
    -http-adv-addr=${RQLITE_HTTP_ADV_ADDR} \
    -raft-addr=${RQLITE_RAFT_ADDR} \
    -raft-adv-addr=${RQLITE_RAFT_ADV_ADDR} \
    -join=${RQLITE_JOIN} \
    -node-cert=${RQLITE_PEER_CERT_PATH} \
    -node-key=${RQLITE_PEER_KEY_PATH} \
    -node-ca-cert=${RQLITE_PEER_CA_PATH} \
    -node-verify-client=true \
    /var/lib/rqlite/data
Restart=always
SyslogIdentifier=rqlite
RestartSec=10s
KillSignal=SIGTERM
ExecReload=/bin/kill -HUP $MAINPID    
